.highlights .icon {
	margin-bottom: 20px;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
.version {
	float: right;
	display: inline-table;
	vertical-align: middle;
	width: 40px;
	height: 40px;

	background-color: #bbb;
	border-radius: 50%;
}
.version__content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: .7em;
}
.db {
	width: auto;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.db h4{text-transform: normal;}
@media(max-width:768px) {
	.db {
		width: 90%;
		grid-template-columns: 1fr;
	}
}
.db-item {
	padding: 20px;
	background: #fafafa;
	border: solid 1px #ddd;
	border-bottom: solid 4px red;
}
hr {
	border: dashed 1px #111;
	opacity: 0.3;
}
.db-item-btn {
	display: inline-block;
	padding: 10px 15px;
	background: #000;
	color: #fff;
	text-decoration: none;
	transition: all 250ms linear;
}
.db-item-btn:hover {
	display: inline-block;
	padding: 10px 15px;
	background: #333;
	color: #fff;
	text-decoration: none;
}
.db-item-author {
	font-size: 0.8rem;
	opacity: 0.8;
	padding-left:20px;
	vertical-align: middle;
	background-position: left center;
	background-repeat: no-repeat;
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAJcAAACXAETPAk3AAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAANFJREFUOI2l0jFqQkEQxvGfJl3SWiSCWCWFjXgGa9uU4iVylZQBu6SzsfECgRSewLQRBEUsRU3zFh9x92UhAx/M7s7/22F3atLRw6DIJ5hX1F7ECHucCu0xzIVvsSvBQTvc/C6uRww6hUnMuJPTwX3k9qC7HAMYR+DXWOFVwmBaQA2s8IJnHHI7+Fc84h0b5/bXeMPDX3APW+lH3KJbZfBZAQd9pOB2BhzUClB5kLL/GM2YQWwqU1G/SLDEMQM+4jssrksHCzyhj1oCPmGGr7DxAzldRuGxdX2CAAAAAElFTkSuQmCC')
}
.db-item-update {
	font-size: 0.8rem;
	opacity: 0.8;
	margin-left:40px;
	padding-left:20px;
	vertical-align: middle;
	background-position: left center;
	background-repeat: no-repeat;
	background-image:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAdgAAAHYBTnsmCAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAACVSURBVDiN1dLbCcJAEIXhz0sZom3E9JEqREGL8NHHWIKVRGwq6oMTvGQhJuCDPyyHndk5ww7DD9hjnogvItfJDUUiXkTujWnoBCss475NmMxCTzijRN0kN+He56xhHAb5N3/7YEhNm1HoDlnP2gsOzRAz6cl3Mu5+8i8G1wG19atBNcCg4rnKZWjusdZdnSscBzRtcwfPJB8V/TXKbgAAAABJRU5ErkJggg==')
}
.db-item-repo {
	float:right;
	text-decoration:none;
	padding-left:20px;
	vertical-align: middle;
	background-position: left center;
	background-repeat: no-repeat;
	background-image:   url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAB2AAAAdgFOeyYIAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAPZJREFUOI2N078uRUEQBvAfOVx6QUGiEYX48xSewEN4DoVXUCtUKgmRq0aUdCjc5oZKIwhXcRW7J1k3e8+eL5nMzux83yQzu5QxjScMM3ZXxaIprKGTEF/xgl/c4j3mZ7Aez1uwiV5G/WtEsCZ307oKh1jBMfpJ8TN+Rsin2MEl5rENA9wX5pB27sb4JsaGMRiHDs4S8mzMtxLIda5xhMcmgSYyTAgrzgqUyP+2kxM4aCDvCStegkoe59Hv43vkblUY5DL64wSuoxUx2aaoJPCJBWGqbbAY/QdhBhfYFZ7uW4Fcf6QeHurkHE6iYu7LpjbAFTZq8h/Y/FMCIBFrRwAAAABJRU5ErkJggg==')
}
.db-item-info {
	min-height: 50px
}
@media (prefers-color-scheme: dark) {

	.db-item {
		color: #333;
		background: #fff;
		border-bottom: solid 4px black;
	}
}
h3{color:#C71585;font-weight: 500;}
.db-item-btn{
	background-color:#C71585;
	border-radius: 8px;
}